@font-face {
    font-family: 'Bathsy Free';
    src: url('subset-BathsyFree-Normal.woff2') format('woff2'),
        url('subset-BathsyFree-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

